
.overviewhome{
    background-image: url('https://www.firestone.com/etc/designs/bridgestone/consumer/fst/clientlibs/global/images/global/gradient_background.jpg');
    background-size: contain;
    height: 100%;
}