
.ovmain__header{
    /* border: 2px dashed red; */
    color:white;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-image: url('https://www.firestone.com/content/dam/fst/firestone/firestone_hero_web.jpg');
    background-size: cover;
    height: 455px;
}

.ovmain__header p{
    display:none;
}

.ovmain .button {
    cursor: pointer;
    color: white;
    width: 98%;
    background-color: #d60503;
    height: 90px;
    border:none;
    padding: 10px;
}

.ovmain .button:hover{
    background-color: #a10300;
}

span.ovmain__uppertext{
    font-size: 12px;
}

span.ovmain__lowertext{
    font-size: 24px;
}

.ovmain__headtext{
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.ovmain__upperbutton{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

.ovmain__upperbutton .ovmain__lowertext{
    text-align: end;
}

.ovmain__lowerbutton{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: right;
    margin-top: 10px;
}

.ovmain__uppertext{
    font-size: 16px;
}

.ovmain__lowertext{
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
}

.ovmain__companyinfo{
    display:flex;
    flex-direction: column;
    font-size: 12px;
}

.ovmain__companyinfo h3{
    font-size: 18px;
    display:flex;
    align-items:center;
    height: 50px;
    padding: 5px;
    padding-left: 20px;
    background-color: #d70000;
    color:white;
    margin: 0;
    border-bottom: 2px solid #5c0000;
}

.ovmain__companyinfo h2{
    cursor: pointer;
}

.ovmain__autocare {
    padding: 15px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 0;
    color: white;
    background-color: #760000;
    border-bottom: 2px solid #5c0000;
}

.ovmain__autocare h2{
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: bold;
}

.ovmain__autocare ul {
    list-style-type: none;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.ovmain__autocare ul li{
    cursor: pointer;
    font-size: 11px;
    margin-bottom: 13px;
}

.ovmain__manufacturing{
    padding: 20px;
    background-color: #760000;
    color: white;
}

.ovmain__manufacturing h2 {
    font-weight: 500;
    margin-bottom: 13px;
}

.ovmain__manufacturing ul {
    list-style-type: none;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.ovmain__manufacturing ul li{
    cursor: pointer;
    font-size: 11px;
    margin-bottom: 13px;
}

.ovmain ul {
    display:none;
}

@media ( min-width: 425px){
    /* when small (less than px) */
    .ovmain__header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 600px;
    }

    .ovmain__header p{
        margin-top:-10px;
        display:inline;
    }
    .ovmain__header .p1{
        align-self: flex-start;
    }

    .ovmain__header .p2{
        align-self: flex-end;
    }

    .ovmain__header .button{
        flex-basis: 45%;
        margin: 10px;
        padding: 10px;
        height: 115px;
    }

    .ovmain__headtext{
        display:flex;
        justify-content: space-around;
        text-align:center;
        margin-top: 100px;
        margin-bottom: -100px;
        flex-basis: 100%;

    }

    .ovmain__headtext span{
        font-size: 36px;
        font-weight: 350;
    }

    .ovmain__headtext .ovmain__lowertext{
        font-size: 76px;
        font-weight: bolder;
        margin-bottom: -100px;
    }

    .ovmain__uppertext{
        font-size: 24px;
        font-weight: 250;
    }

    .ovmain__lowertext{
        font-size: 30px;
        font-weight: 300;
    }

    .ovmain__companyinfo h3{
        display:none;
    }

    .ovmain__companyinfo {
        display:flex;
        flex-direction: row;
        margin-top: 75px;
    }

    .ovmain__autocare {
        width: 40%;
        margin-right: 20px;
        border-bottom: none;
        border-top: 1px solid #363636;
        background-color: transparent;
        color:#d5180f;
        margin-left: 50px;
    }
    .ovmain__autocare ul{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: start;
        color: #5d5d5f;
        text-decoration: none;
    }

    .ovmain__autocare ul li{
        margin-top: 20px;
        flex-basis: 50%;
    }

    .ovmain__manufacturing {
        width: 40%;
        margin-right: 20px;
        border-bottom: none;
        border-top: 1px solid #363636;
        background-color: transparent;
        color:#d5180f;
        margin-left: 10px;
    }
    .ovmain__manufacturing ul{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: start;
        color: #5d5d5f;
        text-decoration: none;
    }

    .ovmain__manufacturing ul li{
        margin-top: 20px;
        flex-basis: 50%;
    }
}

@media (min-width: 768 ){
    /* larger phones/tablets */
}