.footer{
    background-color:black;
    color: white;
    display:flex;
    height: 100px;
    align-items:center;
    justify-content: space-between;
}

.footer h1{
    margin-left: 40px;
    font-size: 32px;
}

.footer .icons a{
    color: white;
    margin-right: 20px;
}