
.fc_header__nav{
    height: 40px;
    background-color: #ddd;
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

.megadiv{
    display:flex;
    justify-content: center;
}

.fc_header__nav li{
    list-style-type: none;
    margin-left: 0;
    border-right: 1px solid #555;
    margin-right: 20px;
    padding-right: 10px;
    color:black;
    font-size: 12px;
}

.fc_header__nav li:hover{
    text-decoration: underline;
    cursor:pointer;
}


.fc_header__nav li.last{
    border-right:none;
}

.image_wrapper{
    display:flex;
    justify-content: center;
}
