.megamenu .individual__li.first{
    border-left: none;
    text-align:center;
}

.megamenu{
    flex-grow: 1;
    max-width: 1440px;
}

.megamenu ul{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding-left: 0;
    list-style-type:none;
    margin:0;
    position:relative;
}

.megamenu ul li{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.megamenu__dropcontent{
    position:absolute;
    background-color:#ddd;
    color: #333;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 1;
    display:none;
}

.individual__li:hover .megamenu__dropcontent{
    display:flex;
}

.individual__li:hover .hiddenarrow{
    display:flex;
    justify-content: center;
    color:red;
}

.individual__li{
    height: 90px;
    width: 100%;
    cursor:pointer;
    border-left: 1px solid #ddd;
    display:flex;
    align-items:center;
    justify-content: center;
}

.megamenu .header4{
    cursor:pointer;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 400;
    border-left: 1px solid #ddd;
    display:flex;
    align-items:center;
    justify-content: center;
}

.megamenu ul .individual__li:hover{
    color:red;
}

.megamenu__title h4{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    text-align:center;
}

.megamenu .searchbar{
    display:flex;
    flex-direction:column;
}

/* left logo */
.fc_header_logo{
    min-width: 175px;
    height: 90px;
    background-color: orange;
}

.searchbar {
    min-width: 200px;
}

.searchbar input{
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    margin-right: 5px;
}

.searchbar button{
    background-color: red;
    color:white;
    font-weight:bold;
    font-size: 18px;
    padding: 8px 10px;
    border:none;
}

.hiddenarrow{
    display:none;
}

/* removable styling */

.individual__li:hover .megamenu__dropcontent{
    justify-content: center;
    padding-top: 20px;
    height: 330px;
    padding-bottom: 20px;
}

.dropcontent{
    height: 350px;
    flex-grow:1;
    display:flex;
    justify-content: space-between;
}

.tirecontent{
    background-image:url('https://www.firestonecompleteautocare.com/etc/designs/bsro/fcac/images/top-nav-sub-nav-tires-bg.jpg');
    background-position:center;
    background-size:cover;
}

.repaircontent{
    background-image:url('https://www.firestonecompleteautocare.com/etc/designs/bsro/fcac/images/top-nav-sub-nav-auto-repair-bg.jpg');
    background-position:center;
    background-size:cover;
}

.maintenancecontent{
    background-image:url('https://www.firestonecompleteautocare.com/etc/designs/bsro/fcac/images/top-nav-sub-nav-auto-maintenance-bg.jpg');
    background-position:center;
    background-size:cover;
}

.megamenu .mid_content{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
}

.megamenu .right_content{
    width: 60%;
}

.dropcontent .mid_content ul{
    flex-grow:1;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;  
    border-right: 1px solid #bbb;
}

li.image{
    margin-left: 60px;}

.mid_content ul li{
    margin-top: 20px;
}

.mid_content img{
    height: 70px;
    width:90px;
}

.repairlist{
    flex-grow:1;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

@media (min-width: 1443px){

}